%h1 Admin Login
%br/

= form_with(model: @admin) do |form| 
    .field
        =form.label :Admin
        =form.text_field :name
    
    .field
        =form.label :password
        =form.text_field :password

    = form.submit