%h1.titulo1 Products
%table{border: 2}
  %tr
    %th Name
    %th Description
    %th Price
    %th Quantity
  - @products.each do |x|
    %tr
      %td= x['name']
      %td= x['description']
      %td= x['price']
      %td= x['quantity']
