%h1 Products

%br/

= form_with(model: [@store, @product] , local: true) do |form|
  .field
    = form.label :name
    = form.text_field :name
    .field
    = form.label :image
    = form.text_area :image
  .field
    = form.label :description
    = form.text_area :description
    .field
    = form.label :price
    = form.text_area :price
  .field
    = form.label :quantity
    = form.text_area :quantity
  .field 
    = form.hidden_field :store_id

  
    = form.submit