/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    h1 {
    color:red; margin-left: 580px;text-shadow:1.5px 1.5px gray;margin-top:60px;
    }

    table {
    margin-left:460px;margin-top:0px;padding: 0px;
    }
    
    th {
    color: black;
    }
    
    tr {
    margin-left:500px; padding: 10px;
    }
    td {
    padding:20px; margin-left:300px; background-color:gray;border-radius:10px;
    }
    
    body {background-image: url("https://i.pinimg.com/originals/3d/d6/d2/3dd6d2341f5a45f7439b518ce9d90953.jpg")}
    